<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<display-name>FirstServlet</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.FirstServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecondServlet</servlet-name>
  	<display-name>SecondServlet</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.SecondServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormValues</servlet-name>
  	<display-name>FormValues</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.FormValues</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Redirect_Page</servlet-name>
  	<display-name>Redirect_Page</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.Redirect_Page</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletCollaboration1</servlet-name>
  	<display-name>ServletCollaboration1</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.ServletCollaboration1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletCollaboration2</servlet-name>
  	<display-name>ServletCollaboration2</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.ServletCollaboration2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dispatcher</servlet-name>
  	<display-name>Dispatcher</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.Dispatcher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dispatcher_Data</servlet-name>
  	<display-name>Dispatcher_Data</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.Dispatcher_Data</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JDBCServletDisplayRecords</servlet-name>
  	<display-name>JDBCServletDisplayRecords</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.JDBCServletDisplayRecords</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Hidden1</servlet-name>
  	<display-name>Hidden1</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.Hidden1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>URLRewriting_1</servlet-name>
  	<display-name>URLRewriting_1</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.URLRewriting_1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>URLReWriting_Success</servlet-name>
  	<display-name>URLReWriting_Success</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.URLReWriting_Success</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HttpSession_AddtoCartDemo</servlet-name>
  	<display-name>HttpSession_AddtoCartDemo</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.HttpSession_AddtoCartDemo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HttpSession_ViewCart</servlet-name>
  	<display-name>HttpSession_ViewCart</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.HttpSession_ViewCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HttpSession_logout</servlet-name>
  	<display-name>HttpSession_logout</display-name>
  	<description></description>
  	<servlet-class>myservletdemos.HttpSession_logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/Wipro_AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/Wipro_UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormValues</servlet-name>
  	<url-pattern>/FormValues</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Redirect_Page</servlet-name>
  	<url-pattern>/Redirect_Page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletCollaboration1</servlet-name>
  	<url-pattern>/ServletCollaboration1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletCollaboration2</servlet-name>
  	<url-pattern>/ServletCollaboration2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dispatcher</servlet-name>
  	<url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dispatcher_Data</servlet-name>
  	<url-pattern>/Dispatcher_Data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JDBCServletDisplayRecords</servlet-name>
  	<url-pattern>/JDBCServletDisplayRecords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Hidden1</servlet-name>
  	<url-pattern>/Hidden1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>URLRewriting_1</servlet-name>
  	<url-pattern>/URLRewriting_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>URLReWriting_Success</servlet-name>
  	<url-pattern>/URLReWriting_Success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HttpSession_AddtoCartDemo</servlet-name>
  	<url-pattern>/HttpSession_AddtoCartDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HttpSession_ViewCart</servlet-name>
  	<url-pattern>/HttpSession_ViewCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HttpSession_logout</servlet-name>
  	<url-pattern>/HttpSession_logout</url-pattern>
  </servlet-mapping>
 <!--  <servlet-mapping>
  	<servlet-name>SecondServlet</servlet-name>
  	<url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping> -->
</web-app>
